/* You can add global styles to this file, and also import other style files */

html,body {
    overflow-x: hidden;
}
body { 
    top:0%;
    width: 100%;
    overflow-x: hidden;
    left:0%;
    background: linear-gradient(180deg, #07001D 0%, #1B043D 0.01%, #1B0720 100%);   
    background-size: cover;
}

